# Python 
# The __init__.py file is important. It tells Python that the pipeline directory should be treated as a "package" or "module,"
# which allows us to import functions between these files cleanly.

__pycache__/ 
*.pyc  
.venv/ 
venv/ 

# Node
node_modules/ 
build/
.pnp.*

# Secrets
.env
# Editor & OS specific
.vscode/
.idea/
.DS_Store

# data files
data/

#Generated Output
reports/

# Temporary files




# to test each file run python -m e.g., pipeline.reporter