# Python 

__pycache__/ # it ignores compiled Python files
*.pyc  # it ignores all Python bytecode files
.venv/ # it ignores virtual environment directories
venv/ # it ignores all directories inside venv


# Node
node_modules/ # it ignores aall directories inside node_modules
build/
.pnp.*

# Secrets
.env

# Editor & OS specific
.vscode/
.idea/
.DS_Store